
body{
    background-color: black;
    color:white;           
}

#formBtn{
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #E8116B;
  border-radius: 100px;
  color: white;
}

#numberInputForm{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 2rem;
margin-bottom: 4rem;
}

input{
    margin-top: 1rem;
}

header{
    margin-top: 1rem;
    background-image: url("bishbosh_header.png"); height: 200px;
    font-size: 3rem;
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;      
}

.container{
    margin-top: -4rem;
    padding: 6rem;
}

#exempel{
    color:#E8116B;
}

h2{
    text-align: center;
}

hr{
    color:rgb(146, 218, 146);
    border: 2px dotted;
}






