li.done{
    text-decoration: line-through;
    background-color: bisque;
}

.deleteButtonDesign{    
    margin-left: 1.5rem;
    margin-top: 1rem;
    background-color: red;
    border-radius: 30%;
    color: white;
}


